.top-about { 
    background-image: url("../images/bg.png");
    background-size: contain; 
    background-attachment: fixed;
    height: 300px; 
    }
  
.top-about-text { 
    text-align: center; 
    padding-top: 80px; 
    color: white; 
    } 
    
.top-about-text h1 { 
    margin-bottom: 30px; 
    }
    
.top-about-text hr { 
    width: 200px; margin: auto; 
    background-color: white;
    margin-bottom: 30px; 
    } 
    
.about-us-container { 
  background-color: #f1f1f1; 
  margin-bottom: 100px; 
  }
  
.about-us { 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	margin: 0px auto; 
	flex-wrap: wrap; 
	padding: 50px; 
	} 

.about-us-left { 
	margin: 20px auto; 
	display: block; 
	flex-basis: 100%;
	}

.about-us-right { 
	display: flex; 
	justify-content: flex-start; 
	flex-basis: 100%; 
	margin: 20px auto; 
	background-size: cover; 
	} 

.about-us-right img { 
	height: 300px; 
	}

.mission-vision { 
	display: flex;
	justify-content: center; 
	align-items: center; 
	flex-wrap: wrap; 
	margin: 50px auto 100px auto; 
	text-align: center; 
	padding: 50px; 
	}

.mission-vision h1 { 
	margin: 20px auto; 
	} 

.mission-vision img { 
	margin: 20px auto; 
	} 

.mission { 
	display: block; 
	flex-basis: 100%; 
	} 

.vision { 
	display: block; 
	flex-basis: 100%; 
	}

.mission-vision img { 
	height: 100px; 
	width: 110px; 
	border-radius: 100%; 
	} 
@media only screen and (min-width: 640px) { }
@media only screen and (min-width: 980px) { 
	.about-us { width: 80%; } 
	.about-us-left { flex-basis: 50%; } 
	.about-us-right { flex-basis: 50%; } 
	.mission-vision { width: 80%; } 
	.mission { flex-basis: 50%; } 
	.vision { flex-basis: 50%; } 
}
