//Contact page CSS
.top-contact {
	background-color: #b9191c;
}
.top-contact-text {
	text-align: center;
	padding-top: 30px;
	font-size: 19px;
	font-family: "Montserrat";
	color: white;
	padding-bottom: 90px;
}
.top-contact-text h1 {
	margin-bottom: 30px;
	font-family: "Ubuntu";
	letter-spacing: 2px;
}
.top-contact-text hr {
	width: 150px;
	margin: auto;
	background-color: white;
	margin-bottom: 30px;
}
.contact-us-container {
	background-color: #f1f1f1;
	margin-bottom: 100px;
}
.forms {
	margin: 100px auto 300px auto;
	padding: 20px;
}
label {
	margin-top: 10px !important;
}
@media only screen and (min-width: 980px) {
	.forms {
		width: 60%;
	}
}
